.btn {
    /* width: 150px;
    height: 54px; */
    padding: 1.5rem 2rem;
    border: none;
    display: inline-block;
    position: relative;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 92% 100%, 0 100%);
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-family: Neue Pixel Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}


@media(max-width:1125px) {
    .btn {
        padding: 1rem;
        font-size: 1.4rem;
    }
}