@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Medium';
    src: url('/fonts/IntegralCF-Regular.otf') format('opentype');
    /* Adjust the font file format as needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Regular';
    src: url('/fonts/IntegralCF-Regular.otf') format('opentype');
    /* Adjust the font file format as needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
    /* Adjust the font file format as needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Pixel Sans';
    src: url('/fonts/NeuePixelSans.ttf') format('truetype');
    /* Adjust the font file format as needed */
    font-weight: normal;
    font-style: normal;
}


.btnFont {
    font-family: 'Neue Pixel Sans';
}

.customFont {
    font-family: 'FONTSPRING DEMO - Integral CF Medium', sans-serif;
    -webkit-text-stroke: 1.5px white;
    /* Adjust the width and color of the stroke */
    color: transparent;
    /* Add other styling as needed */
}

.redCustomFont{
    font-family: 'FONTSPRING DEMO - Integral CF Medium', sans-serif;
    -webkit-text-stroke: 1.5px #FF6000;
    /* Adjust the width and color of the stroke */
    color: transparent;
}

.subheadingFont{
    font-family: 'FONTSPRING DEMO - Integral CF Medium', sans-serif;
    /* Adjust the width and color of the stroke */
}