@import '../app/fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


@font-face {
  font-family: 'Integral CF Medium';
  src: url('/fonts/IntegralCF-Medium.otf') format('opentype');
  /* Adjust the font file format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Medium';
  src: url('/fonts/IntegralCF-Medium.otf') format('opentype');
  /* Adjust the font file format as needed */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Regular';
  src: url('/fonts/IntegralCF-Medium.otf') format('opentype');
  /* Adjust the font file format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  /* Adjust the font file format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Pixel Sans';
  src: url('/fonts/NeuePixelSans.ttf') format('truetype');
  /* Adjust the font file format as needed */
  font-weight: normal;
  font-style: normal;
}


.btnFont {
  font-family: 'Neue Pixel Sans';
}

.customFont {
  font-family: 'Integral CF Medium', sans-serif;
  -webkit-text-stroke: 1.5px white;
  /* Adjust the width and color of the stroke */
  color: transparent;
  /* Add other styling as needed */
}

.redCustomFont {
  font-family: 'Integral CF Medium', sans-serif;
  -webkit-text-stroke: 1.5px #FF6000;
  /* Adjust the width and color of the stroke */
  color: #1c0b00;

}

.subheadingFont {
  font-family: 'Integral CF Medium', sans-serif;
  /* Adjust the width and color of the stroke */
}

section {
  width: 1400px;
  margin-inline: auto;
  padding-block: 5rem;
}

@media(max-width:1470px) {
  section {
    width: 1000px;
  }
}


@media(max-width:1125px) {

  section {
    width: 800px;
  }
}


@media(max-width:855px) {

  body,
  html {
    overflow-x: hidden;
  }

  html {
    font-size: 60%;
  }

  section {
    width: 100%;
    padding-inline: 2rem;
    padding-block: 3rem;
  }
}

@media(max-width:280px) {
  section {
    padding-inline: 1rem;
  }
}