.heroesParent {
    background: url(../public/heroes.jpg);
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-block: 5rem;
}


.heroesParent::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50.02% 50.01% at 50% 50%, rgba(15, 7, 4, 0.50) 0%, #110400 100%);
}

.heroesContainer {
    position: relative;
    z-index: 1;
}

.heroHeading {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Integral CF Medium', sans-serif;

}

.heroCategories {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5rem;
    margin-inline: auto;
    font-family: 'Integral CF Medium', sans-serif;

}

.category {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.notActive {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Integral CF Medium', sans-serif;
}


.dynamicHeroesContent {
    display: flex;
    align-items: flex-start;
    padding-block: 8rem;
    justify-content: space-between;
    /* gap: 16.5rem; */
}

.dynamicMobileContent {
    display: none;
}

.leftSide {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7rem;
    align-self: flex-end;
}


.aboutPart,
.abilityPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.heading {
    font-size: 2.3rem;
    color: white;
    text-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Integral CF Medium', sans-serif;

}


.briefText {
    color: #FFF;
    font-family: Neue Pixel Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.btnOne {
    width: 130px;
    height: 44px;
    display: inline-block;
    position: relative;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 92% 100%, 0 100%);
    font-family: Neue Pixel Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    background: #FF3B00;
    text-transform: uppercase;
    font-family: 'Neue Pixel Sans';
}

.btnTwo {
    width: 130px;
    height: 44px;
    display: inline-block;
    position: relative;
    color: black;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 92% 100%, 0 100%);
    font-family: Neue Pixel Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    background: white;
    text-transform: uppercase;
}


.rightSide {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 7rem;
    /* justify-content: space-between; */
}


.mainImg {
    width: 500px;
    height: 500px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
}

.Img {
    width: 100%;
}

.squareOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    height: 40rem;
    /* background: red; */
    overflow-y: scroll;
    overflow-x: hidden;
}


.option {
    width: 72px;
    height: 72px;
    border: 2px solid #FFF;
    background: #242424;
    cursor: pointer;
}


@media(max-width:1470px) {
    .storyText {
        width: 1000px;
    }

    .playPic {
        width: 700px;
        height: unset;
    }

    .mainTitle {
        font-size: 14.9rem;
    }

    .leftCharacterPack,
    .rightCharacterPack {
        justify-content: unset;
    }

    .left {
        width: 500px;
    }

    .textContent {
        width: 400px;
    }

    .dynamicHeroesContent {
        display: flex;
        align-items: flex-start;
        padding-block: 8rem;
        /* justify-content: space-between; */
        gap: 10rem;
    }


    .mainImg {
        width: 400px;
        height: 390px;
        background: #D9D9D9;
    }

    .leftSide {
        width: 400px;
    }

    .heroCategories {
        width: 90%;
    }

    .category {
        font-size: 2.5rem;
    }

    .option {
        width: 80px;
    }

    .rightSide {
        gap: 3rem;
        /* justify-content: space-between; */
    }
}


@media(max-width:1125px) {
    .heroesParent {
        padding-block: unset;
    }

    .category {
        font-size: 2.2rem;
    }

    .heroHeading {
        font-size: 4rem;
    }

    .dynamicHeroesContent {
        gap: 8rem;
    }

    .briefText {
        font-size: 1.6rem;
    }

    .mainImg {
        width: 300px;
        height: 300px;
        background: #D9D9D9;
    }

    .option {
        width: 40px;
        height: 40px;
    }

    .btnOne {
        font-size: 1.3rem;
    }

    .btnTwo {
        font-size: 1.3rem;

    }

    .rightSide {
        gap: unset;
        justify-content: space-between;
    }


}



@media(max-width:855px) {

    .heroesParent {
        padding-bottom: 5rem;
    }

    .storyText {
        width: 100%;
        padding-inline: 2rem;
    }

    .category {
        font-size: 1.8rem;
    }

    .heroCategories {
        display: none;
    }


    .dynamicHeroesContent {
        flex-direction: column-reverse;
        padding-block: unset;
        gap: 4rem;
    }

    .rightSide {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        gap: 2.5rem;
        width: 100%;
    }

    .squareOptions {
        flex-direction: row;
        height: unset;
        overflow-x: auto;
        overflow-y: unset;
    }

    .mainImg {
        width: 100%;
        height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Img {
        width: 300px;
    }

    .leftSide {
        width: 50%;
        gap: 3rem;
        display: none;
    }


    .dynamicMobileContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding-block: 2.5rem;
    }

    .dynamicAspects {
        display: flex;
        width: 100%;
    }

    .dynamicCategory {
        text-align: center;
        font-size: 1.6rem;
        text-transform: uppercase;
        width: 50%;
        padding-block: 1rem;
        border: none;
        outline: none;
        color: black;
        cursor: pointer;
        font-family: Neue Pixel Sans;
    }

    .activeBtn {
        background: #FF3B00;
        color: white;
        font-family: Neue Pixel Sans;
    }

    .option {
        width: 80px;
        height: unset;
    }

}



@media(max-width:280px) {

    .heroHeading {
        font-size: 2.5rem;
    }

    .mainImg {
        height: 300px;
    }


}