.leaderboardContainer {
    padding-block: 3rem;
    padding-left: 4.7rem;
    /* flex: 1; */
    border-left: .1rem solid rgba(255, 255, 255, 0.30);
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 4.5rem;
    width: 1200px;
    min-height: 100vh;
}

.topSection {
    background-image: url(../public/trophy.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-block: 7.5rem;
    padding-left: 6rem;
}

.leaderTitle {
    font-family: Integral CF Medium;
    font-size: 5rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Integral CF Medium', sans-serif;
    -webkit-text-stroke: 1.5px white;
    color: transparent;
}

.aspectsContainer {
    display: flex;
    gap: 4rem;
    width: 100%;
    flex-direction: column;
}

.aspects {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    border-bottom: .2rem solid #3D3D3F;
    width: 36%;
}

.link {
    color: #8C8583;
    font-family: Integral CF Medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: .8rem;
    cursor: pointer;
}


.activeLink {
    border-bottom: .4rem solid #FF3B00;
    color: #FF3B00;
}


.cardPack {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6rem;
    align-items: flex-start;
}


@media(max-width:1470px) {
    .leaderboardContainer {
        padding-left: 2.5rem;
        width: 800px;
    }

    .topSection {
        padding-left: 3rem;
    }

    .aspects {
        width: 41%;
    }

    .link {
        font-size: 1.8rem;
    }

}


@media(max-width:1125px) {

    .leaderboardContainer {
        padding-left: 2.5rem;
        width: 600px;
    }

    .aspects {
        width: 46.5%;
    }

    .link {
        font-size: 1.5rem;
    }

}


@media(max-width:855px) {
    .leaderboardContainer {
        width: 100%;
        border-left: none;
        padding-left: unset;
    }

    .topSection {
        padding-left: 1.5rem;
    }

    .leaderTitle {
        font-size: 3.5rem;
    }

    .aspects {
        width: 100%;
        display: flex;
        gap: 5.6rem;
        padding-left: 1.5rem;
    }

    .link {
        font-size: 1.5rem;
    }

}

@media(max-width:700px) {

    .topSection {
        background-image: url(../public/mTrophy.png);
    }

}

@media(max-width:280px) {


    .leaderTitle {
        font-size: 3rem;
    }


    .link {
        font-size: 1.2rem;
    }
}