.marketParent {
    background: #FF3B00;
    /* height: 70vh; */
    position: relative;
}

.middleLine {
    background-color: black;
    height: 10px;
    border: none;
    position: absolute;
    transform: translateX(-50%) rotate(90deg);
    height: 70vh;
    top: 0;
    bottom: 0;
}

.marketSection {
    border-bottom: .2rem solid black;
    display: flex;
    height: 50vh;
    padding-block: unset;
}

.innerLeftMarketPlace {}

.leftMarketPlace {
    padding-top: 5rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-right: .2rem solid black;
    border-left: .2rem solid black;
}

.initialPart {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    border-top: .2rem solid black;
    padding-top: 5rem;
    width: 100%;
    padding-left: 2rem;
}

.blackArrow {
    width: 15px;
}

.briefText {
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 500px;
    font-weight: bold;
    line-height: 1.2;
}

.btnTwo {
    width: 130px;
    height: 44px;
    display: inline-block;
    position: relative;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 92% 100%, 0 100%);
    font-family: Neue Pixel Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    background: black;
    text-transform: uppercase;
    margin-bottom: 6.2rem;
    margin-left: 2rem;
}

.rightMarketPlace {
    width: 50%;
    padding-top: 5rem;
    border-right: .2rem solid black;

}

.innerRight {
    border-top: .2rem solid black;
}

.categoryPack {
    padding-top: 5rem;
}

.innerCategory {
    padding-left: 2rem;
}

.category {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: .2rem solid black;
    padding-left: 3rem;
}

.category:first-of-type {
    padding-bottom: 5rem;
}

.category:nth-of-type(2),
.category:nth-of-type(3) {
    padding-block: 5rem;
}

.category:nth-of-type(3) {
    border-bottom: none;
}

.hrTwo {
    width: 100%;
    /* margin-bottom: 5rem; */
}


.bottomSection {
    width: 1400px;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;

}


.leftCategory {
    width: 50%;
    display: flex;
    border-right: .2rem solid black;
    border-left: .2rem solid black;
}

.spanCover {
    border-right: .2rem solid black;
}

.leftBox {
    padding-block: 3rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-inline: 2rem;
}

.rightCategory {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border-right: .2rem solid black;

}

.rightEdge {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-block: 3rem;
    margin-right: 2rem;
}


@media(max-width:1470px) {
    .bottomSection {
        width: 1000px;
    }
}


@media(max-width:1125px) {

    .briefText {
        width: 100%;
        font-size: 1.6rem;
    }

    .category {
        padding-left: 1rem;
    }

    .bottomSection {
        width: 800px;
    }


    .leftBox {
        font-size: 1.4rem;
        padding-inline: 1rem;
    }

    .rightCategory {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        border-right: .1rem solid black;
    
    }
    
    .rightEdge {
        font-size: 1.4rem;
        padding-block: 3rem;
        margin-right: 1rem;
    }

}