.marketParent {
    background: #FF3B00;
    position: relative;
}

.marketSection {
    border-bottom: .2rem solid black;
    display: flex;
    padding-block: unset;
}

.leftMarketPlace {
    padding-top: 5rem;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-right: .2rem solid black;
}

.initialPart {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    border-top: .2rem solid black;
    padding-top: 5rem;
    width: 100%;
    padding-left: 2rem;
}

.blackArrow {
    width: 15px;
}

.briefText {
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 500px;
    font-weight: bold;
    line-height: 1.2;
    font-family: Neue Montreal;
}

.btnTwo {
    width: 130px;
    height: 44px;
    display: inline-block;
    position: relative;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 92% 100%, 0 100%);
    font-family: Neue Pixel Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    background: black;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
    margin-left: 2rem;
}

.rightMarketPlace {
    width: 50%;
    padding-top: 5rem;
}

.innerRight {
    border-top: .2rem solid black;
}

.categoryPack {
    padding-top: 5rem;
}

.category {
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: .2rem solid black;
    padding-left: 3rem;
    font-family: 'Integral CF Medium';
}

.category:first-of-type {
    padding-bottom: 5rem;
}

.category:nth-of-type(2),
.category:nth-of-type(3) {
    padding-block: 5rem;
}

.category:nth-of-type(3) {
    border-bottom: none;
}

.hrTwo {
    width: 100%;
}


.bottomSection {
    width: 100%;
    display: flex;
    margin-inline: auto;
    justify-content: space-between;

}


.leftCategory {
    width: 50%;
    display: flex;
    border-right: .2rem solid black;
    border-left: .2rem solid black;
}

.spanCover {
    border-right: .2rem solid black;
}

.leftBox {
    padding-block: 3rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-inline: 2rem;
    font-family: Neue Montreal;
}

.rightCategory {
    width: 50%;
    display: flex;
    justify-content: flex-end;

}

.rightEdge {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-block: 3rem;
    margin-right: 2rem;
    font-family: Neue Montreal;
}


@media(max-width:1470px) {
    /* .bottomSection {
        width: 1000px;
    } */
}


@media(max-width:1125px) {

    .briefText {
        width: 100%;
        font-size: 1.6rem;
    }


    /* .bottomSection {
        width: 800px;
    } */


    .leftBox {
        font-size: 1.4rem;
        padding-inline: 1rem;
    }

    .rightCategory {
        width: 50%;
        display: flex;
        justify-content: flex-end;

    }

    .category {
        font-size: 2rem;
    }

    .rightEdge {
        font-size: 1.4rem;
        padding-block: 3rem;
        margin-right: 1rem;
    }


}


@media(max-width:855px) {

    .marketSection {
        padding-inline: unset;
    }

    .briefText {
        font-size: 1.2rem;
        padding-right: 1rem;
    }

    .btnTwo {
        margin-bottom: 4rem;
    }


    .bottomSection {
        width: 100%;
        flex-direction: column;
    }

    .leftCategory {
        width: 100%;
        border-bottom: .2rem solid black;
    }

    .leftMarketPlace {
        border-left: none;
    }


    .spanCover {
        width: 33.3%;
    }

    .leftBox {
        text-align: center;
        width: 100%;
        padding-inline: unset;
    }


    .rightMarketPlace {
        border-right: none;

    }

    .rightCategory {
        width: 100%;
        justify-content: flex-start;
        border-right: none;
    }

    .category {
        padding-left: 2rem;
        font-size: 1.5rem;
    }

    .rightEdge {
        font-size: 1.4rem;
        padding-block: 3rem;
        margin-left: 2rem;
    }

    .leftCategory {
        border-right: none;
        border-left: none;
    }
    

    .spanCover:last-of-type {
        border-right: none;
    }


}


@media(max-width:280px) {


    .btnTwo {
        width: 80px;
        height: 40px;
        font-size: 1rem;
    }

    .rightCategory {
        border-right: none;

    }



}