.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin-inline: auto;
}

.orgLogo {
    width: 30px;
    height: 30px;
    background: white;
}

.middleIconPack {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: white;
}


.btnPack {
    display: flex;
    align-items: center;
    gap: 2rem;
}