.card {
    display: flex;
    align-items: center;
    border: 0.3px solid #3D3D3F;
    background: hsl(240, 5%, 12%);
    padding: 1.5rem 3rem;
    justify-content: space-between;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    width: 50%;
}

.topPart {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: flex-start;
}

.cardTitle {
    color: #FFF;
    font-family: 'Integral CF Medium';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.action {
    color: #FF3B00;
    font-family: 'Integral CF Medium';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}

.playValue {
    color: #FFEF8F;
    font-family: 'Integral CF Medium';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}


.gameStats {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    align-items: flex-start;
}


.gamStatsRow {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    /* width: 100%; */
    /* background: pink; */
}

.titlePack {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: flex-start;
}

.category {
    color: #A4A39E;
    font-family: Neue Montreal;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


.score {
    color: #FFF;
    font-family: Neue Pixel Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lastHeading {
    color: white;
    font-family: 'Integral CF Medium';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-decoration-line: underline; */
}

.imgContainer {
    width: 60%;
}


.manImg {
    width: 100%;
}



@media(max-width:1470px) {
    .card {
        width: 48%;
        padding: 1.5rem 2rem;
    }

    .leftSide {
        width: 70%;
        gap: 3rem;
    }

    .cardTitle {
        font-size: 2rem;
    }

    .score {
        font-size: 1.3rem;
    }

    .imgContainer {
        width: 40%;
    }

    .manImg {
        width: 100%;
    }

}


@media(max-width:1125px) {
    .card {
        width: 100%;
        padding: 1.5rem 1rem;
    }

    .gamStatsRow {
        gap: unset;
        justify-content: space-between;
        width: 100%;
    }

    .cardTitle {
        font-size: 1.7rem;
    }

    .score {
        font-size: 1.2rem;
    }

    .action {
        font-size: 1.3rem;
    }

    .playValue {
        font-size: 1.3rem;
    }


}


@media(max-width:855px) {

    .card {
        width: 100%;
        padding-top: 2rem;
        padding-inline: 2rem;
        padding-bottom: 1.6rem;
    }

    .leftSide {
        width: 60%;
        gap: 1.5rem;
    }

    .gameStats {
        gap: 1.5rem;
    }

    .imgContainer {
        width: 40%;
    }

}


@media(max-width:280px) {
    .card {
        width: 100%;
        padding: 1rem;
    }
    .gamStatsRow {
        gap: 1rem;
    }
}