.userCard {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3D3D3F;
    background: #1C1C1F;
    padding-inline: 2rem;
}

.firstPart {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.userImg {
    width: 68px;
}

.innerFirstPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userName {
    color: #F2F4F7;
    font-family: 'Integral CF Medium';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.serial {
    color: #F2F4F7;
    font-family: Neue Pixel Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 1rem;
}

.level {
    color: #F2F4F7;
    font-family: Neue Pixel Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middlePortion {
    display: flex;
    width: 55%;
    /* background: green; */
    align-items: flex-start;
    justify-content: space-between;
}

.mInnerFirstPart {
    display: none;
    flex-direction: column;
    gap: .5rem;
}

.deskDiamondPack {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dBadge {
    width: 40px;
}

.mobileDiamondPack {
    display: none;
}

.playerStats {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}

.categpry {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.categoryTitle {
    color: #A4A39E;
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.number {
    color: #F2F4F7;
    font-family: 'Integral CF Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.win {
    color: #00B055;
    font-family: 'Integral CF Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loss {
    color: #C72F3A;
    font-family: 'Integral CF Medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.badgeD {
    width: 49.086px;
    margin-top: -3.5rem;
}


@media(max-width:1470px) {

    .userCard {
        padding-inline: 1.2rem;
    }

    .userImg {
        width: 50px;
    }

    .playerStats {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
    }

    .userName {
        font-size: 1.6rem;
    }

    .serial {
        font-size: 1.6rem;
        margin-left: .5rem;
    }

    .level {
        font-size: 1.4rem;
    }

    .dBadge {
        width: 30px;
    }

    .categoryTitle {
        font-size: 1rem;
    }

    .number {
        font-size: 1.4rem;
    }

    .win {
        font-size: 1.4rem;
    }

    .loss {
        font-size: 1.4rem;
    }

    .badgeD {
        width: 30px;
        margin-top: -4rem;
    }
}


@media(max-width:1125px) {
    .firstPart {
        display: flex;
        gap: 1.2rem;
    }

    .userCard {
        padding-inline: 1rem;
    }

    .userImg {
        width: 30px;
    }

    .userName {
        font-size: 1.2rem;
    }

    .middlePortion {
        width: 63%;
    }

    .serial {
        font-size: 1.2rem;
        margin-left: .3rem;
    }

    .level {
        font-size: 1.2rem;
    }

    .deskDiamondPack {
        gap: .5rem;
    }

    .dBadge {
        width: 25px;
    }

    .categoryTitle {
        font-size: .9rem;
    }

    .number,
    .win,
    .loss {
        font-size: 1.2rem;
    }


    .badgeD {
        width: 20px;
        margin-top: -3.5rem;
    }
}


@media(max-width:855px) {

    .userCard {
        padding: 2rem;
        align-items: flex-start;
    }

    .firstPart {
        display: flex;
        gap: 1.2rem;
        padding-top: unset;
    }

    .innerFirstPart {
        display: none;
    }

    .mInnerFirstPart {
        display: flex;
    }

    .userImg {
        width: 60px;
    }

    .userName {
        font-size: 1.8rem;
    }

    .middlePortion {
        width: unset;
        flex-direction: column;
        gap: 1rem;
    }

    .serial {
        font-size: 1.8rem;
        margin-left: .5rem;
    }

    .level {
        font-size: 1.6rem;
    }

    .deskDiamondPack {
        display: none;
    }

    .dBadge {
        width: 25px;
    }

    .categoryTitle {
        font-size: 1.1rem;
    }

    .number,
    .win,
    .loss {
        font-size: 1.8rem;
    }


    .badgeD {
        width: 40px;
        margin-top: -2rem;
    }
}


@media(max-width:465px) {

    .userCard {
        padding: 1rem;
    }

    .firstPart {
        display: flex;
        gap: 1rem;
        padding-top: unset;
    }

    .innerFirstPart {
        display: none;
    }

    .userImg {
        width: 45px;
    }

    .userName {
        font-size: 1.4rem;
    }

    .middlePortion {
        padding-left: 1rem;
    }

    .serial {
        font-size: 1.4rem;
        margin-left: .5rem;
    }

    .level {
        font-size: 1.6rem;
    }

    .deskDiamondPack {
        display: none;
    }

    .dBadge {
        width: 25px;
    }

    .categoryTitle {
        font-size: .9rem;
    }

    .number,
    .win,
    .loss {
        font-size: 1.4rem;
    }


    .badgeD {
        width: 40px;
        margin-top: -1.1rem;
    }
}



@media(max-width:465px) {
    
}