.storySectionParent {
    width: 100%;
    background-color: black;
    background-image: url(../public/star.png);
    background-repeat: no-repeat;
    padding-block: 5rem;
    position: relative;
    background-size: cover;
}


.storySectionParent::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 100%;
    z-index: -1;
}

.arrowPic {
    height: 20px;
    width: 20px;
}

.storyText {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    flex-direction: column;
    width: 1400px;
    margin-inline: auto;
    text-align: center;
}

.topPart {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.storyHeading {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'Integral CF Medium'
}


.storyContent {
    color: #FFF;
    text-align: center;
    font-family: 'Neue Pixel Sans';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    width: 500px;
    margin-inline: auto;
}


.playPic {
    width: 900px;
}


.playSection {
    padding-block: 5rem;
}


.mainTitle {
    font-size: 19.1rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}



.fullCharacterPack {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    /* width: 1050px; */
    margin-inline: auto;
    justify-content: center;
    padding-top: 10rem;
}


.leftCharacterPack,
.rightCharacterPack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.left {
    /* width: 50%; */
    width: 400px;
}

.circle {
    width: 100%;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 400px;
}

.secondTextContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.heading {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-transform: uppercase;
    font-family: 'Integral CF Medium', sans-serif;

}


.briefText {
    color: #FFF;
    font-family: Neue Pixel Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}



@media(max-width:1470px) {
    .storyText {
        width: 1000px;
    }

    .playPic {
        width: 700px;
        height: unset;
    }

    .mainTitle {
        font-size: 13.5rem;
    }

    .fullCharacterPack {
        width: unset;
    }


    .leftCharacterPack,
    .rightCharacterPack {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13rem;
    }

    .left {
        /* width: 50%; */
        width: 320px;
    }

    .circle {
        width: 100%;
    }

    .textContent {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 300px;
    }

}


@media(max-width:1125px) {
    .storyText {
        width: 800px;
    }

    .storyHeading {
        font-size: 3rem;
    }

    .storyContent {
        font-size: 1.6rem;
    }

    .storyText {
        gap: 3.5rem;
    }

    .playPic {
        width: 600px;
    }

    .mainTitle {
        font-size: 10.8rem;
    }

    .fullCharacterPack {
        width: unset;
        gap: 12rem;
    }


    .leftCharacterPack,
    .rightCharacterPack {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }

    .left {
        /* width: 50%; */
        width: 260px;
    }

    .circle {
        width: 100%;
    }

    .textContent {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 280px;
    }


    .briefText {
        font-size: 1.6rem;
    }
}

@media(max-width:855px) {
    .storyText {
        width: 100%;
    }

    .topPart {
        width: 100%;
    }

    .storyHeading {
        font-size: 2.5rem;
    }

    .storyContent {
        width: 100%;
    }

    .playPic {
        width: 380px;
        height: unset;
    }


    .mainTitle {
        font-size: 5.5rem;
        text-align: center;
    }

    .fullCharacterPack {
        gap: 11rem;
        padding-top: 5rem;
    }


    .leftCharacterPack {
        flex-direction: column;
        width: 100%;
        gap: 5rem;
    }

    .rightCharacterPack {
        flex-direction: column-reverse;
        width: 100%;
        gap: 6rem;
    }

    .left {
        width: 300px;
    }

    .textContent {
        width: 300px;
    }
}


@media(max-width:400px) {

    .playPic {
        width: 300px;
    }

    .mainTitle {
        font-size: 4rem;
        text-align: center;
    }
}


@media(max-width:280px) {
    .playPic {
        width: 250px;
    }

    .mainTitle {
        font-size: 3rem;
    }

    .left {
        width: 250px;
    }


    .briefText {
        font-size: 1.4rem;
    }

    .textContent {
        width: 100%;
    }

}