.home {
    display: none;
}

.overallContainer {
    margin-inline: auto;
}


.itemContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding-block: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    cursor: grab;
    user-select: none;
}

.activated {
    cursor: grabbing;
}

.specificImg {
    width: 100%;
}

.eventCard {
    padding-block: 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 300px;
    position: relative;
    padding-block: 4rem;
}

.specialBorder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.titleOfEvent {
    color: #FFF;
    font-family: 'Integral CF Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imgContainer {
    width: 90%;
    height: 195.224px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
    color: rgba(255, 255, 255, 0.50);
    font-family: Neue Montreal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(5, 41, 37, 0.50);
}

.lastText {
    color: #A4A39E;
    font-family: Neue Montreal;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media(max-width:1125px) {
    .home {
        display: unset;
    }

    .mainTitle {
        font-size: 4.3rem;
        text-align: center;
    }

    .overallContainer {
        width: 600px;
        padding-right: 2rem;
    }

    .imgContainer {
        height: 140px;
    }
}


@media(max-width:855px) {
    .home {
        width: 100%;
    }

    .overallContainer {
        width: 100%;
        padding-right: unset
    }

    .titleOfEvent {
        font-size: 14px;
    }

    .imgContainer {
        font-size: 12px;
    }

    .itemContainer {
        padding-right: 1rem;
    }

}